/* Palette found at https://uxdesign.cc/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129 */
:root {
  --fifty: #f0f4f8;
  --onehundred: #d9e2ec;
  --twohundred: #bcccdc;
  --threehundred: #9fb3cb;
  --fourhundred: #829ab1;
  --fivehundred: #627d98;
  --sixhundred: #486581;
  --sevenhundred: #334e68;
  --eighthundred: #243b53;
  --ninehundred: #102a43;
}

body {
    background-color: var(--ninehundred);
}
.site-container {
    max-width: 1000px;
}
.top {
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    background-color: var(--sevenhundred);
    color: var(--fifty);
    font-family: 'Antonio', sans-serif;
    border-radius: 10px;
    padding: 0 15px;
}
.logo h1 {
    transform: scale(.9, 1.2);
}
.tagline {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    color: var(--onehundred);
    font-family: 'Oswald', sans-serif;
}

/* Menu styling */
.menu-button {
  background-color: #829ab1;
  color: #d9e2ec;
  padding: 16px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  font-family: 'Oswald', sans-serif;
}
.menu {
  position: relative;
  display: inline-block;
}
.menu-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #9fb3c8;
  min-width: 160px;
  z-index: 1;
}
.menu-content div {
  color: #102a43;
  border: 1px solid black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Oswald', sans-serif;
}
#default {
    border-bottom: none;
}
#new-to-old {
    border-bottom: none;
}
.menu-content a {
  text-decoration: none;
}
.menu:hover .menu-content {
    display: block;
    cursor: pointer;
}


/* Carousel Styling */
.carousel-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}
.carousel-images {
  width: 80%;
  display: flex;
  height: 200px;
  max-width: 700px;
  align-items: center;
  overflow: hidden;
  background: var(--fivehundred);
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}
.carousel-images img {
  width: 100%;
  border-radius: 10px;
  display: none;
}
.carousel-button {
  align-self: center;
  background: var(--threehundred);
  color: #888;
  padding: 20px 10px;
  border-radius: 35%;
  text-align: center;
}
.carousel-button:hover {
  cursor: pointer;
  background: var(--sevenhundred);
  color: white;
}
.carousel-images img:first-of-type {
    display: block;
}

/* Button / Div Styling */

.movies-container {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    align-items: center;
}

.movie-btn {
    width: 80%;
    height: 150px;
    margin: 10px;
    color: white;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-position: center;
}

.movie {
    width: 80%;
    color: #d9e2ec;
    font-family: 'Oswald', sans-serif;
}
.movie p {
    font-family: 'Roboto', sans-serif;
}
/* Responsive changes */

@media (min-width: 400px) {
    .carousel-images {
        height: 250px;
    }
}

@media (max-width: 600px) {
    .carousel-container {
        width: 95%;
    }
}

@media (min-width: 600px) {
    .carousel-images {
        height: 300px;
    }
}
@media (min-width: 768px) {
    .carousel-images {
        height: 350px;
    }
}
@media (min-width: 1000px) {
    .carousel-images {
        height: 400px;
    }
}
