
:root {
  --zero: #f0f4f8;
  --one: #d9e2ec;
  --two: #bcccdc;
  --three: #9fb3cb;
  --four: #829ab1;
  --five: #627d98;
  --six: #486581;
  --seven: #334e68;
  --eight: #243b53;
  --nine: #102a43;
}

body {
    background-color: var(--nine);
}
.site-container {
    max-width: 1000px;
    margin: 0 auto 200px auto;
}
.top {
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    background-color: var(--seven);
    color: var(--zero);
    font-family: 'Antonio', sans-serif;
    border-radius: 10px;
    padding: 0 15px;
}
.logo h1 {
    transform: scale(.9, 1.2);
}
.tagline {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    color: var(--one);
    font-family: 'Oswald', sans-serif;
}



/* Collapsible Start */
.collapsible-container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
.collapsible-button {
    text-align: center;
    background-color: var(--four);
    color: var(--one);
    padding: 16px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-family: 'Oswald', sans-serif;
    box-shadow: 4px 4px 10px var(--six);
    transform: translateY(3px);
    transition: .3s;
}
.collapsible-button:hover {
    cursor: pointer;
    background-color: var(--seven);
    color: var(--three);
    transform: translateY(-3px);
    transition: .3s;
}
.collapsible-content {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--one);
    display: none;
    text-align: justify;
}




/* Menu styling */
.menu-button {
  background-color: var(--four);
  color: var(--one);
  padding: 16px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  font-family: 'Oswald', sans-serif;
  box-shadow: 4px 4px 10px var(--six);
}
.menu-button:hover {
    background-color: var(--seven);
    color: var(--three);
}
.menu {
  position: relative;
  display: inline-block;
}
.menu-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: var(--three);
  min-width: 160px;
  z-index: 1;
}
.menu-content div {
  color: var(--nine);
  border: 1px solid black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Oswald', sans-serif;
}
.menu-content div:hover {
    background-color: var(--seven);
    color: var(--three);
}
#default, #new-to-old {
    border-bottom: none;
}

.menu-content a {
  text-decoration: none;
}
.menu:hover .menu-content {
    display: block;
    cursor: pointer;
}




/* Carousel Styling */
.carousel-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}
.carousel-images {
  width: 80%;
  display: flex;
  height: 200px;
  max-width: 700px;
  align-items: center;
  overflow: hidden;
  background: var(--five);
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 7px 7px 15px var(--six);
}
.carousel-images img {
  width: 100%;
  border-radius: 10px;
  display: none;
}
.carousel-button {
  align-self: center;
  background: var(--three);
  padding: 20px 10px;
  border-radius: 35%;
  text-align: center;
  box-shadow: 4px 4px 10px var(--six);
}
.carousel-button:hover {
  cursor: pointer;
  background: var(--six);
  color: white;
  transform: translateY(-3px);
}
.carousel-images img:first-of-type {
    display: block;
}





/* Button / Div Styling */
.movies-container {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    align-items: center;
}
.movie-btn {
    width: 80%;
    height: 150px;
    margin: 15px 10px;
    color: white;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0 0 3px black;
    background-position: center;
    box-shadow: 5px 5px 15px var(--four);
    transform: translateY(5px);
    transition: .3s;
}
.movie-btn:hover {
    transform: translateY(-5px);
    transition: .3s;
    cursor: pointer;
}
.movie {
    width: 80%;
    color: var(--one);
    font-family: 'Oswald', sans-serif;
}
.hide {
    color: var(--nine);
    background: var(--three);
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
}
.hide:hover {
      transform: translateY(-2px);
      background: var(--five);
      cursor: pointer;
}
.attr {
    display: flex;
    justify-content: space-around;
}
.movie h3 {
    text-align: center;
    font-size: 2em;
}
.movie p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
.movie img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/* Responsive changes */

@media (min-width: 400px) {
    .carousel-images {
        height: 250px;
    }
}

@media (max-width: 600px) {
    .carousel-container {
        width: 95%;
    }
    .collapsible-button {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 600px) {
    .carousel-images {
        height: 300px;
    }
}

@media (min-width: 768px) {
    .carousel-images {
        height: 350px;
    }
}

@media (min-width: 1000px) {
    .carousel-images {
        height: 400px;
    }
    .movie h3 {
        width: 60%;
        float: left;
    }
    .attr {
        font-size: 1.5em;
        width: 60%;
        float: left;
    }
    .movie p {
        width: 60%;
        display: inline-block;
    }
    .movie img {
        position: relative;
        top: -165px;
        float: right;
    }
    .hide {
        float: right;
    }
}
